@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*colors-verteslovas-gyerek*/
    --grey-background: #EBEDEC;
    --green-camp: #96D0C2;
    --yellow-table: #F4BE18;
    --yellow: #F6AA00;
    --light-yellow-table: rgb(244, 190, 24, 0.2);
    --light-brown-form: rgb(200, 187, 155, 0.3);
    /*colors-verteslovas-felnőtt*/
    --whitesmoke-background: whitesmoke;
    --light-grey: #E6E6E6;
    --light-beige: #F8EFEC;
    --wedding-background: #F9EBEB;
    --beige: #F1E0DA;
    /*text-color*/
    --dark-grey: #4D4D4D;

    /*Font sizes verteslovas*/
    --title: 5.625rem;
    --h2: 5rem;
    --p-simple: 1rem;
    --form-title-camp: 2rem;
    --form-title-simple: 3.75rem;
    --form-p: 1.125rem;
    --card-title: 4rem;

    /*Line heights*/
    --title-lh: 100%;
    --h2-lh: 110%;
    --p-lh: 140%;



    /*Font boldness*/
    --thin: 100;
    --light: 300;
    --regular: 400;
    --bold: 700;
    --black: 900;

    /* SPACING TOKENS */
    --smallest: 0.25rem;
    --smaller: 0.5rem;
    --small: 1rem;
    --normal: 2.25rem;
    --medium: 3rem;
    --large: 4rem;
    --larger: 5rem;
    --largest: 6.5rem;
    --huge: 15rem;
}

html,
.root {
    font-family: 'Raleway', sans-serif;
}

html,
body {
    font-size: 16px;
}

@media screen and (max-width: 1500px) {
    html,
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 1300px) {
    html,
    body {
        font-size: 13px;
    }
}

@media screen and (max-width: 1100px) {
    html,
    body {
        font-size: 11px;
    }
}

@media screen and (max-width: 800px) {
    html,
    body {
        font-size: 12px;
    }
}

p br {
    display: block;
    margin-bottom: 1rem;
    content: " ";
}