@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --grey-background: #EBEDEC;

    --green-camp: #96D0C2;
    --yellow-table: #F4BE18;
    --yellow-tablerow: #fbe39d;
    --yellow-card: rgba(237, 199, 81, 0.9);
    --yellow-main: rgba(246, 170, 0, 0.7);
    --light-yellow-table: rgb(244, 190, 24, 0.2);
    --yellow-hover: rgb(255, 204, 0);

    --light-brown-form: rgb(225, 220, 208);
    --whitesmoke-background: whitesmoke;

    --wedding-background: #F9EBEB;
    --beige: #F1E0DA;

    --dark-gray: rgb(0,0,0,0.4);
    --dark-grey: #4D4D4D;
    --black: #000000;
    --white: #FFFFFF;


    --edding-white:#F9F6F1;

    /*-------------------------------------------------*/
    --light-grey: #E6E6E6; --light-beige: #F8EFEC;
    /*--light-grey: #DCCAC9;--light-beige: #F2ECEC;*/
    /*--light-beige: #DCCAC9; --light-grey: #E5E0DD;*/
    /*--light-beige: #E4C9BE; --light-grey: #dfd7d3;*/


    /*--light-grey: #ECE5D4;
    --light-beige: #F5E7DA;*/


    /*--light-beige: #E4C9BE;
    --light-grey: #CDC0BA;*/


    /*--light-beige: #E4C9BE;
    --light-grey: #CDC0BA;*/

    /*--light-beige: #E7E5DC;
    --light-grey: #DBCAC6;*/


    /*---------------------------------------------*/

    /*Font sizes verteslovas*/
    --title: 5.625rem;
    --h2: 4rem;
    --p-simple: 1.1rem;
    --form-title-camp: 2rem;
    --form-title-simple: 3.75rem;
    --form-p: 1.125rem;
    --card-title: 4rem;
    --h5: 3rem;

    /*Line heights*/
    --title-lh: 100%;
    --h2-lh: 120%;
    --p-lh: 180%;


    /*Font boldness*/
    --thin: 100;
    --light: 300;
    --regular: 400;
    --bolder: 500;
    --bold: 600;

    /* SPACING TOKENS */
    --smallest: 0rem;
    --smaller: 0.5rem;
    --small: 1rem;
    --normal: 2.25rem;
    --medium: 3rem;
    --large: 4rem;
    --larger: 5rem;
    --largest: 6.5rem;
    --huge: 15rem;

    /*Grid template columns*/
    --grid-two: 1.5fr 1fr;
    --grid-three: 1.5fr 0.5fr 0.5fr;

    /*Boxshadows*/
    --table-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);;
}

html,
.root {
    font-family: 'Raleway', sans-serif;
}

html,
body {
    font-size: 16px;
}

@media screen and (max-width: 1500px) {
    html,
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 1300px) {
    html,
    body {
        font-size: 13px;
    }
}

@media screen and (max-width: 1100px) {
    html,
    body {
        font-size: 11px;
    }
}

@media screen and (max-width: 800px) {
    html,
    body {
        font-size: 12px;
    }
}

p br {
    display: block;
    margin-bottom: 1rem;
    content: " ";
}